.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo-f {
    animation: App-logo-spin-f infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-f {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* ------------------------ */

.playlist-pic {
  /* height: 100px;
  width: 100px; */
}

.nav-logo {
  height: 40px;
  vertical-align: auto;
}

.playlist-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  padding: 4px;
}

.playlist-header {
  display: flex;
}

.playlist-new {
  flex: start;
}

.playlist-card {
  transition: transform 0.2s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.1s ease,
    -webkit-transform 0.2s cubic-bezier(0.34, 2, 0.6, 1);
  position: relative;
}

.playlist-card:hover {
  border: 2em;
  border-color: #61dafb;
}

.loader {
  margin: auto;
  vertical-align: middle;
}

.profile-pic {
  padding: 30px;
}

.edit-input {
  height: calc(1.5em + 0.75rem + 2px);
}
